@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'SourceSansPro';
    src: url('path/to/SourceSansPro-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('path/to/SourceSansPro-BlackIt.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('path/to/SourceSansPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('path/to/SourceSansPro-BoldIt.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('path/to/SourceSansPro-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('path/to/SourceSansPro-ExtraLightIt.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('path/to/SourceSansPro-It.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('path/to/SourceSansPro-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('path/to/SourceSansPro-LightIt.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('path/to/SourceSansPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('path/to/SourceSansPro-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('path/to/SourceSansPro-SemiboldIt.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

